
@model HTMLHelpers.Models.User

@{
    ViewBag.Title = "User Form";
}

<h2>User Form</h2>

@using (Html.BeginForm("Submit", "User", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>

    <div>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>

    <div>
        @Html.Hidden("HiddenField", "HiddenValue")
    </div>

    <div>
        @Html.Label("Gender")
        <br />
        @Html.RadioButtonFor(m => m.Gender, "Male") Male
        @Html.RadioButtonFor(m => m.Gender, "Female") Female
    </div>

    <div>
        @Html.CheckBoxFor(m => m.Issubscribed) Subscribe to Newsletter
    </div>

    <div>
        @Html.LabelFor(m => m.Country)
        @Html.DropDownListFor(m => m.Country, new SelectList(ViewBag.Countries), "-- Select Country --", new { @class = "form-control" })
    </div>

    <div>
        @Html.Label("Skills")
        @Html.ListBoxFor(m => m.Skills, new MultiSelectList(ViewBag.Skills), new { @class = "form-control" })
    </div>

    <div>
        @Html.Label("Bio")
        @Html.TextArea("Bio", new { @class = "form-control", rows = 4 })
    </div>

    <div>
        @Html.EditorFor(m => m.Name)
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
}
